body {
  background-color: gray;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  position: absolute;
  z-index: 10;
  top: -5px;
  left: -5px;
  width: 300px;
  height: 950px;
  background-color: white;
  border: 5px black solid;
}

.sidebar-items {
  position: relative;
  list-style-type: none;
  font-size: 28px;
  left: 0px;
  z-index: 1;
}

.item {
  padding-bottom: 25px;
}

.item:hover {
  margin-bottom: 16px;
  background-color: darkgray;
  border: dashed gray 3px;
  width: fit-content;
  height: 10px;
  color: white;
}

.sidebar:hover {
  transition: transform 0.4s ease-in-out;
}

.grid {
  position: absolute;
  z-index: 15;
  left: 16.8%;
  top: 3;
  display: grid;
  grid-template-columns: 1600px;
  grid-template-rows: 500px;
}

#item-link {
  text-decoration: none;
  color: black;
}

img {
  width: 300px;
  height: 280px;
  border-radius: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 3px black solid;
}

img:hover,
img:active {
  border: 3px white solid;
}

.file-container {
  width: 170px;
  height: 440px;
  background-color: white;
  border: 5px lightgray solid;
  position: relative;
  left: 310px;
}

.file-list {
  list-style-type: number;
}

.file {
  padding-bottom: 25px;
  padding-left: 5px;
}

.link {
  text-decoration: none;
  background-color: lightgray;
  border: 2px gray solid;
  padding: 3px;
}

.link:hover {
  background-color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Roboto:wght@300&display=swap"); ;
