@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap');

body {
    background-color: #222222;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.cheatsheet-title {
    font-family: 'Roboto', sans-serif; /* You can use the Roboto font for the title */
    font-size: 36px; /* Adjust the font size */
    color: white; /* White text color */
    text-align: center; /* Center the title */
    margin-top: 40px; /* Add some space at the top */
    margin-bottom: 20px; /* Add some space at the bottom */
    text-shadow:#444444 2px 2px 2px;
}

/* Assuming you have linked the Fira Code font in your HTML */
.code-container {
    text-align: center;
}

.gap {
    width: 10px; /* Adjusted gap width */
}

.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.language {
    color: #569cd6; /* Accent color for language */
}

.code-title {
    font-family: 'Roboto', sans-serif; /* Use the Roboto font for titles */
    font-size: 24px; /* Adjust the font size */
    color: #569cd6; /* Accent color for titles */
    margin-bottom: 10px; /* Add some space at the bottom */
}

/* Style for the small code embeds */
.code-embed.small {
    width: 65%; /* Adjusted width to span the full width */
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px; /* Added margin for spacing between code blocks */
    box-sizing: border-box; /* Include padding and borders in width calculation */
}

/* Updated style for the code block */
.code {
    font-family: 'Fira Code', monospace;
    background-color: #444444; /* Dark background color */
    color: white; /* White text color */
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    text-align: left !important;
    font-size: 18px; /* Set text alignment to left */
}
  
footer {
    width: 1000px;
    height: 120px;

    margin: 0 auto;

    border-radius: 15px;

    margin-bottom: 25px;

    display: block;

    background-color: #444444;
}

footer h3 {
    color: White;
    position: relative;
    top: 10px;
    left: 10px;
}

footer p {
    color: White;
    position: relative;
    top: 12px;
    left: 10px;
}

nav ul {
    color: white;
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    position: relative;
    left: -30px;
    top: -70px;

    padding: 5px;
    background-color: #444444;
    border-radius: 5px;
    margin-bottom: 10px;
}

@keyframes anim {
        
    0% {
        font-size: 32px;
    }

    100% {
        font-size: 36px;
    }
}

nav ul li a:hover {
    animation: anim ease-in-out 0.7s forwards;
    background-color: #333333;

}

.small-logo {
    position: relative;
    top: -52px;
    width: 3.5%;
    height: 3.5%;
}

.link {
    position: relative;
    left: 44%;
    bottom: 15px;
}

.link a {
    text-decoration: none;
    color: white;
    background-color: #444555;
    padding: 7px;
    border-radius: 3px;
}